@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,300;1,600;1,700&display=swap');

:root{
}

*{
    margin: 0;
    
}
body {
    font-family: cursive;
    background-image: url("https://source.unsplash.com/1600x900/?white");
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire background area */
}

